<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>SigFox</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="style.css" type="text/css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="js/jquery1.7.2.min.js"></script>
<script src="js/script.js"></script>
</head>

<body>
<header id="header">
  <!-- ロゴ -->
	<div class="logo">
		<a href="index.html">Conclave<br /><span>野間班</span></a>
	</div>
</header>

<!-- メインナビゲーション -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    		<li class="active"><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li>
				<li><a href="subpage.html"><strong>MXD研究室</strong><span>MXDlab</span></a></li>
				<li><a href="subpage.html"><strong>クリエーションコア</strong><span>Creation Core</span></a></li>
				<li><a href="subpage.html"><strong>教室</strong><span>classroom</span></a></li>
				<li><a href="subpage.html"><strong>ジム</strong><span>Gym</span></a></li>
				<li class="last"><a href="subpage.html"><strong>喫煙所</strong><span>Smoking area</span></a></li>
			</ul>   
    </div>
	</div> 
</nav>

{% for column in all_column %}
    <li>{{ column.gps_x}}, {{ column.date }}</li>
{% endfor %}

	<address>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>